<?xml version="1.0" encoding="utf-8"?>
<DataLoggerConfigDocument
  xmlns="http://www.phoenixcontact.com/schema/dataloggerconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/dataloggerconfig.xsd">

  <General name="DB_name" samplingInterval ="50ms" publishInterval="250ms" bufferCapacity="500"/>

  <Datasink type="db" dst="/opt/plcnext/projects/Services/DataLogger/yourDB.db" rollover="false" maxFileSize="1000000" storeChangesOnly="false"/> 


 <!-------The following GDS Port declaration is just an example, please exchange them with the port names you like to record----->
  <Variables>
    <Variable name = "Arp.Plc.Eclr/Generator1.OPCUA_Word"/>
    <Variable name = "Arp.Plc.Eclr/Generator1.OPCUA_String"/>
    <Variable name = "Arp.Plc.Eclr/Generator1.OPCUA_Int"/>
  </Variables>
</DataLoggerConfigDocument>

  <!-- DataLoggerLimitations:
  
    Variables: 
		- max 1000
		
    SamplingInterval:
        - min: 500 us.
        - max: 100 s.

     PublishInterval (How often is the data transferred from the buffer to the SQLlite database? The faster the value, the higher the CPU utilization.) :
        - min: 500 us.
        - max: 100 s.
 
     Buffer (Number of data points in RAM. The higher the value the more RAM is needed.):
        - minCapacity: 1.
        - maxCapacity: 1000.
	-->
