<?xml version="1.0" encoding="utf-8"?>
<DataLoggerConfigDocument
  xmlns="http://www.phoenixcontact.com/schema/dataloggerconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/dataloggerconfig.xsd">

  <General name="test-session" samplingInterval ="50ms" publishInterval="250ms" bufferCapacity="2000"/>
  
  <Datasink type="db" dst="/opt/plcnext/DataSink.db" rollover="false" maxFileSize="5000000" storeChangesOnly="true" deleteRatio="5"/> 

  <Variables>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_000"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_001"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_002"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_003"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_004"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_005"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_006"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_007"/>
  </Variables>
</DataLoggerConfigDocument>
