<?xml version="1.0" encoding="utf-8"?>
<DataLoggerConfigDocument
  xmlns="http://www.phoenixcontact.com/schema/dataloggerconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/dataloggerconfig.xsd">

  <General name="test-session" samplingInterval ="50ms" publishInterval="250ms" bufferCapacity="1000"/>
  
  <Datasink type="db" dst="/opt/plcnext/DataSink.db" rollover="true" maxFileSize="5000000" storeChangesOnly="true"/> 

  <Variables>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_000"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_001"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_002"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_003"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_004"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_005"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_006"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_007"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_008"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_009"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_010"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_011"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_012"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_013"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_014"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_015"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_016"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_017"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_018"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_019"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_020"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_021"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_022"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_023"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_024"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_025"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_026"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_027"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_028"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_029"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_030"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_031"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_032"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_033"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_034"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_035"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_036"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_037"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_038"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_039"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_040"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_041"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_042"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_043"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_044"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_045"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_046"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_047"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_048"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_049"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_050"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_051"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_052"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_053"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_054"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_055"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_056"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_057"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_058"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_059"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_060"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_061"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_062"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_063"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_064"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_065"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_066"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_067"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_068"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_069"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_070"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_071"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_072"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_073"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_074"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_075"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_076"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_077"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_078"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_079"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_080"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_081"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_082"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_083"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_084"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_085"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_086"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_087"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_088"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_089"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_090"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_091"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_092"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_093"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_094"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_095"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_096"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_097"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_098"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_099"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_100"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_101"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_102"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_103"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_104"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_105"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_106"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_107"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_108"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_109"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_110"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_111"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_112"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_113"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_114"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_115"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_116"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_117"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_118"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_119"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_120"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_121"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_122"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_123"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_124"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_125"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_126"/>
    <Variable name = "Arp.Plc.Eclr/DIO_Producer1.IN_DI_127"/>
  </Variables>
</DataLoggerConfigDocument>

